<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FrontServlet</servlet-name>
        <servlet-class>etu1381.framework.servlet.FrontServlet</servlet-class>
        <multipart-config>
            <file-size-threshold>1048576</file-size-threshold> <!-- 1MB -->
            <max-file-size>10485760</max-file-size> <!-- 10MB -->
            <max-request-size>52428800</max-request-size> <!-- 50MB -->
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>FormSprint10.jsp</welcome-file>
    </welcome-file-list>
</web-app>
